# subflow-api
API_GRPC_PORT=50051
TEMPORAL_HOST=localhost:7233
TEMPORAL_NAMESPACE=default
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=subflow

# subflow-worker
TASK_QUEUE=subflow
INTEGRATION_HOST=localhost:50052

# mock-integration
MOCK_GRPC_PORT=50052
FAILURE_RATE=0.3
LATENCY_MS=100
TERMINAL_FAILURE_RATE=0.0
